<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="end">

                <ion-button routerLink="/login">
                    Login/Register
                </ion-button>




        </ion-buttons>
        <ion-title>
            Somuleco
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Welcome</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="explore">
      <ion-icon name="globe"></ion-icon>
      <ion-label>Explore</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="library">
      <ion-icon name="laptop"></ion-icon>
      <ion-label>Library</ion-label>
    </ion-tab-button>

</ion-tabs>