<ion-header>
  <ion-toolbar color="secondary">


    <ion-buttons slot="end">

      <ion-button routerLink="/notifications">
        <ion-icon ios="notifications" md="notifications"></ion-icon>
      </ion-button>

    </ion-buttons>
    <ion-buttons slot="end">

      <ion-button routerLink="/notifications">
        <ion-icon name="chat-boxes"></ion-icon>
      </ion-button>

    </ion-buttons>
    <ion-title>
      Somuleco
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-menu side="start" menuId="authenticatedMenu" type="overlay">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Somuleco</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide="true" *ngFor="let p of appPages">
        <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
          <ion-icon slot="start" [name]="p.icon"></ion-icon>
          <ion-label>
            {{p.title}}
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>